$rem: 16px !default;
@function rem($num){
	@return $num/$rem*1rem;
}
.photo_show{
  width: 50%;
  margin: 0 auto;
  img{
    width:100%;
  }
}
.green_btn{
	width: 100%;
	display: inline-block;
	padding: rem(10px) 0;
	border-radius: rem(5px);
	text-align: center;
	color: #fff;
	border: none;
	background-color: #43c122;
	font-size: rem(16px);
}
._input{
	border: none;
	&::-webkit-input-placeholder {
	    color:    #aaa;
	}
	&:-moz-placeholder {
	    color:    #aaa;
	}
	&::-moz-placeholder {
	    color:    #aaa;
	}
	&:-ms-input-placeholder {
	    color:    #aaa;
	}
}
input{
	font-size: rem(14px);
	@extend  ._input;
}
.lineHidden{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
